In [1]:
print("HOPE AI")

HOPE AI

In [2]:
input("Enter your institute name? :")

Enter your institute name? :Hope AI

'Hope AI'

In [3]:
input("Enter your name")

Enter your nameShaki.R

'Shaki.R'

In [4]:
input("Enter your age:")

Enter your age:36

'36'

In [5]:
input("Enter your school name :")

Enter your school name :RCC Government girls higher secondary school

'RCC Government girls higher secondary school'

In [6]:
input("Enter your degree :")

Enter your degree :Bsc.Biochemistry

'Bsc.Biochemistry'

In [10]:
a=43
print("a=43")
b=34
print("b=34")
print("add=",a+b)

a=43
b=34
add= 77

In [11]:
a=43
print("a=43")
b=34
print("b=34")
print("sub=",a-b)

a=43
b=34
sub= 9

In [13]:
a=63
print("a=63")
b=97
print("b=97")
print("mul=",a*b)

a=63
b=97
mul= 6111

In [14]:
a=76
print("a=76")
b=31
print("b=31")
print("Float div=",a/b)

a=76
b=31
Float div= 2.4516129032258065

In [18]:
a=76
print("a=76")
b=31
print("b=31")
print("Floor div=",a//b)

a=76
b=31
Floor div= 2

In [20]:
a=76
print("a=76")
b=31
print("b=31")
print("module=",a%b)

a=76
b=31
module= 14

In [21]:
a=4
print("a=4")
b=4
print("b=4")
print("power=",a**b)

a=4
b=4
power= 256