In [2]:
#Pandas is a library that comes pre-loaded with globalized information. We can use it when creating a model with tables, as it functions as both a reading model and memory.
import pandas as pd

In [3]:
#dataset - The requirements from the client and the collective information stored in a csv file.
dataset=pd.read_csv("salary_data.csv")

In [4]:
#This call to action helps to pass the infromation to this python notebook from where we have saved the original data 
dataset

    years of experience  Salary
0                     1   10000
1                     2   20000
2                     3   30000
3                     4   40000
4                     5   50000
5                     6   60000
6                     7   70000
7                     8   80000
8                     9   90000
9                    10  100000
10                   11  110000
11                   12  120000
12                   13  130000
13                   14  140000
14                   15  150000
15                   16  160000
16                   17  170000
17                   18  180000
18                   19  190000
19                   20  200000
20                   21  210000
21                   22  220000
22                   23  230000

In [7]:
#This is an input where are going to use from the saved file
independent=dataset[["years of experience"]]

In [8]:
#This call to action helps to display the input information.
independent

    years of experience
0                     1
1                     2
2                     3
3                     4
4                     5
5                     6
6                     7
7                     8
8                     9
9                    10
10                   11
11                   12
12                   13
13                   14
14                   15
15                   16
16                   17
17                   18
18                   19
19                   20
20                   21
21                   22
22                   23

In [10]:
#This is an output where are going to use from the saved file
dependent=dataset[["Salary"]]

In [11]:
#This call to action helps to display the output information.
dependent

    Salary
0    10000
1    20000
2    30000
3    40000
4    50000
5    60000
6    70000
7    80000
8    90000
9   100000
10  110000
11  120000
12  130000
13  140000
14  150000
15  160000
16  170000
17  180000
18  190000
19  200000
20  210000
21  220000
22  230000

In [13]:
#This function helps to spearte the train set and test set, Sklearn acting as a library
#While splitting the training set and test set, it is common to use proportions like 70:30 or 80:20, where the test set is represented by 0.30 or 0.20, respectively. Using the 'random_state' parameter ensures that the split is going to work effectively
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [14]:
#The regressor acts like a variable, and linear regression is considered a class. Whatever is inside the class is assigned to the regressor variable. After the line is executed, calling the important function .fit is the correct way to create a model, and these steps are considered part of the procedure. Substituting the training values is necessary to obtain the proper output
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [15]:
#Its a defalut formula for calucating the weight
weight=regressor.coef_
weight

array([[10000.]])

In [16]:
#It is a defalut formula for calucating the bais
bais=regressor.intercept_
bais

array([0.])

In [17]:
# it is the one of the finest method to evaluate the test dat set,helps to cross check the test set
y_pred=regressor.predict(x_test)

In [18]:
#This function helps to calculate the R2 by comparing the actual value ytest and predicted value y-predict and this r2 score will determine how well the model is working.
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [19]:
#If the rscore value is near to 1 the model is a good model, if its 0 then we need to rework again
r_score

1.0

In [20]:
#This function helps us save the model by specifying a name with .sav. Once we run the model, it will automatically be saved in our IPython notebook with the name mentioned within the double quotes
import pickle
filename="finalized_model_linear.sav"

In [21]:
#after creating a filename, dumping the information which is found in the variables by using writebinary.
pickle.dump(regressor,open(filename,'wb'))

In [25]:
#After saving the model in the appropriate place,by using the function named loaded to check the an input feature.Always use two closed brackets
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result=loaded_model.predict([[0]])

C:\Users\ADMIN\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [26]:
#The result will be shown for the input that we provided.
result

array([[0.]])